body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
  }

  a {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
  }

  h2 {
    color: #333;

  }

  h3 {
    font-size: 2rem;
    
  }

  p {
    font-size: 18px;
  }

  .survey-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .question {
    margin-bottom: 20px;
  }

  .question label {
    display: block;
    margin-bottom: 10px;
  }

 .options {
    margin-left: 20px;
 }

  input[type="radio"], input[type="text"], select, textarea {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  button:hover {
    background-color: #218838;
  }

  .progress-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 25px;
    margin-bottom: 20px;
  }

  .progress-bar-fill {
    height: 25px;
    width: 0%;
    background-color: #28a745;
    text-align: center;
    line-height: 25px;
    color: white;
    border-radius: 25px;
  }


  .hidden {
    display: none;
  }